/* ===========================
   Base
   =========================== */

* {list-style-type:none}

ul { margin: 0; padding: 0 }

body {
  font-size: 16px;
  font-family: $font1;
  background: $white-1;
}

.row-content {
  width: 83.33%;
  max-width: 1200px;
  margin: 0 auto;
}

.clear { clear: both }
