@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$dark-gray: #242424;
$dark-orange: #ffab00;
$light-orange: #ffc800;
$white-0: #ffffff;
$white-1: #f4f4f4;
